---
layout: default
permalink: /:collection/index.html
---

{% assign static_sites = site.collections | where: "label", "static-sites" | first %}

<div class="header">
  <h1>{{ static_sites.label | capitalize }}</h1>
  <h2>{{ static_sites.description }}</h2>
</div>

<div class="catalogue">

  {% for post in site.static-sites %}
    {% if post.title != "Index" %}

      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <h1 class="catalogue-title">{{ post.title | capitalize }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ post.description }}
          </p>

        </div>
      </a>

    {% endif %}
  {% endfor %}

</div>
