---
layout: default
---

<div class="header">
  <h1>{{ site.python.description }}</h1>
  <h2>Technical knowledge share.</h2>
</div>

<div class="catalogue">

  {% for collection in site.collections %}
    {% if collection.label != "posts" %}

      <a href="{{ collection.label | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <h1 class="catalogue-title">{{ collection.label | capitalize }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ collection.description }}
          </p>

        </div>
      </a>

    {% endif %}
  {% endfor %}

</div>
