<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">

        <a href="{{ site.baseurl }}/">
          {% if page.title == "Home" %}
            <h2 class="nav-title">{{ site.title }}</h2>
          {% else %}
            <h2 class="nav-title">{{ site.title }} - Technical knowledge share.</h2>
          {% endif %}
        </a>

        {% for collection in site.collections %}
          {% if page.url contains collection.label %}
            <ul>
              <!-- {{collection.label}} + {{site.baseurl}} -->
              <li><a href="{{ site.url }}/{{ collection.label }}">{{ collection.label | capitalize }}</a></li>
            </ul>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

    <main>
      {{ content }}
      {{ site.baseurl }}
    </main>

  </body>
</html>
