---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">

  {% unless page.previous.url contains "index" %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.url }}" class="left arrow">&#8592; {{ page.previous.title }}</a>
    {% endif %}
  {% endunless %}

  {% unless page.next.url contains "index" %}
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.url }}" class="right arrow">{{ page.next.title }} &#8594;</a>
    {% endif %}
  {% endunless %}

  <a href="#" class="top">Top</a>

</div>
